# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
/dist/
*.tgz

# Tests and coverage
coverage/
.DS_Store

# IDE
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local

# OS
Thumbs.db
